
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="best-seller-section">
    <div class="container">
        <div class="seller-combo mb-4">
            <div class="main-heading d-flex justify-content-between">
                <h2 class="pri-heading">Best Seller</h2>
                <a href=""><span class="view-all">View All</span></a>
            </div>
            <div class="product-inner">
                <ul>
                    <li class="leaf first">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     alt="16 Pcs Ferrero Rocher"
                                     title="16 Pcs Ferrero Rocher">
                            </div>
                            <div class="pro-desc">
                                <div class="pro-name">16 Pcs Ferrero Rocher</div>
                                <div class="price"> Rs. 1,045</div>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text">Today.</span>
                            </div>
                        </a>
                    </li>
                    <li class="leaf">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" alt="Chocolate Truffle Cake" title="Chocolate Truffle Cake">
                            </div><div class="pro-desc">
                                <div class="pro-name">Chocolate Truffle Cake</div><div class="price"> Rs. 599 <span class="list-price"> Rs. 699</span></div><span class="price-percentage" style="display:none;">
                                    14% OFF
                                </span>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf ">
                        <a href="/floral-medley-hamper-8436">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" alt="Floral Medley Hamper" title="Floral Medley Hamper"></div><div class="pro-desc">
                                <div class="pro-name">Floral Medley Hamper</div><div class="price"> Rs. 1,049 <span class="list-price"> Rs. 1,249</span></div><span class="price-percentage" style="display:none;">
                                    16% OFF
                                </span>
                            </div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf last">
                        <a href="/jute-wrapped-beauties--9172">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" alt="Jute Wrapped Beauties " title="Jute Wrapped Beauties "></div><div class="pro-desc"><div class="pro-name">Jute Wrapped Beauties </div><div class="price"> Rs. 699</div></div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="seller-combo mb-4">
            <div class="main-heading d-flex justify-content-between">
                <h2 class="pri-heading">Combos</h2>
                <a href=""><span class="view-all">View All</span></a>
            </div>
            <div class="product-inner">
                <ul>
                    <li class="leaf first">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     alt="16 Pcs Ferrero Rocher"
                                     title="16 Pcs Ferrero Rocher">
                            </div>
                            <div class="pro-desc">
                                <div class="pro-name">16 Pcs Ferrero Rocher</div>
                                <div class="price"> Rs. 1,045</div>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text">Today.</span>
                            </div>
                        </a>
                    </li>
                    <li class="leaf">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" alt="Chocolate Truffle Cake" title="Chocolate Truffle Cake">
                            </div><div class="pro-desc">
                                <div class="pro-name">Chocolate Truffle Cake</div><div class="price"> Rs. 599 <span class="list-price"> Rs. 699</span></div><span class="price-percentage" style="display:none;">
                                    14% OFF
                                </span>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf ">
                        <a href="/floral-medley-hamper-8436">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" alt="Floral Medley Hamper" title="Floral Medley Hamper"></div><div class="pro-desc">
                                <div class="pro-name">Floral Medley Hamper</div><div class="price"> Rs. 1,049 <span class="list-price"> Rs. 1,249</span></div><span class="price-percentage" style="display:none;">
                                    16% OFF
                                </span>
                            </div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf last">
                        <a href="/jute-wrapped-beauties--9172">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" alt="Jute Wrapped Beauties " title="Jute Wrapped Beauties "></div><div class="pro-desc"><div class="pro-name">Jute Wrapped Beauties </div><div class="price"> Rs. 699</div></div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="seller-combo mb-4">
            <div class="main-heading d-flex justify-content-between">
                <h2 class="pri-heading">Cakes</h2>
                <a href=""><span class="view-all">View All</span></a>
            </div>
            <div class="product-inner">
                <ul>
                    <li class="leaf first">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     alt="16 Pcs Ferrero Rocher"
                                     title="16 Pcs Ferrero Rocher">
                            </div>
                            <div class="pro-desc">
                                <div class="pro-name">16 Pcs Ferrero Rocher</div>
                                <div class="price"> Rs. 1,045</div>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text">Today.</span>
                            </div>
                        </a>
                    </li>
                    <li class="leaf">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" alt="Chocolate Truffle Cake" title="Chocolate Truffle Cake">
                            </div><div class="pro-desc">
                                <div class="pro-name">Chocolate Truffle Cake</div><div class="price"> Rs. 599 <span class="list-price"> Rs. 699</span></div><span class="price-percentage" style="display:none;">
                                    14% OFF
                                </span>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf ">
                        <a href="/floral-medley-hamper-8436">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" alt="Floral Medley Hamper" title="Floral Medley Hamper"></div><div class="pro-desc">
                                <div class="pro-name">Floral Medley Hamper</div><div class="price"> Rs. 1,049 <span class="list-price"> Rs. 1,249</span></div><span class="price-percentage" style="display:none;">
                                    16% OFF
                                </span>
                            </div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf last">
                        <a href="/jute-wrapped-beauties--9172">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" alt="Jute Wrapped Beauties " title="Jute Wrapped Beauties "></div><div class="pro-desc"><div class="pro-name">Jute Wrapped Beauties </div><div class="price"> Rs. 699</div></div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>



        <div class="seller-combo mb-4">
            <div class="main-heading d-flex justify-content-between">
                <h2 class="pri-heading">Flower</h2>
                <a href=""><span class="view-all">View All</span></a>
            </div>
            <div class="product-inner">
                <ul>
                    <li class="leaf first">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     alt="16 Pcs Ferrero Rocher"
                                     title="16 Pcs Ferrero Rocher">
                            </div>
                            <div class="pro-desc">
                                <div class="pro-name">16 Pcs Ferrero Rocher</div>
                                <div class="price"> Rs. 1,045</div>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text">Today.</span>
                            </div>
                        </a>
                    </li>
                    <li class="leaf">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" alt="Chocolate Truffle Cake" title="Chocolate Truffle Cake">
                            </div><div class="pro-desc">
                                <div class="pro-name">Chocolate Truffle Cake</div><div class="price"> Rs. 599 <span class="list-price"> Rs. 699</span></div><span class="price-percentage" style="display:none;">
                                    14% OFF
                                </span>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf ">
                        <a href="/floral-medley-hamper-8436">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" alt="Floral Medley Hamper" title="Floral Medley Hamper"></div><div class="pro-desc">
                                <div class="pro-name">Floral Medley Hamper</div><div class="price"> Rs. 1,049 <span class="list-price"> Rs. 1,249</span></div><span class="price-percentage" style="display:none;">
                                    16% OFF
                                </span>
                            </div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf last">
                        <a href="/jute-wrapped-beauties--9172">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" alt="Jute Wrapped Beauties " title="Jute Wrapped Beauties "></div><div class="pro-desc"><div class="pro-name">Jute Wrapped Beauties </div><div class="price"> Rs. 699</div></div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="seller-combo mb-4">
            <div class="main-heading d-flex justify-content-between">
                <h2 class="pri-heading">Personalised gifts</h2>
                <a href=""><span class="view-all">View All</span></a>
            </div>
            <div class="product-inner">
                <ul>
                    <li class="leaf first">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     alt="16 Pcs Ferrero Rocher"
                                     title="16 Pcs Ferrero Rocher">
                            </div>
                            <div class="pro-desc">
                                <div class="pro-name">16 Pcs Ferrero Rocher</div>
                                <div class="price"> Rs. 1,045</div>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text">Today.</span>
                            </div>
                        </a>
                    </li>
                    <li class="leaf">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" alt="Chocolate Truffle Cake" title="Chocolate Truffle Cake">
                            </div><div class="pro-desc">
                                <div class="pro-name">Chocolate Truffle Cake</div><div class="price"> Rs. 599 <span class="list-price"> Rs. 699</span></div><span class="price-percentage" style="display:none;">
                                    14% OFF
                                </span>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf ">
                        <a href="/floral-medley-hamper-8436">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" alt="Floral Medley Hamper" title="Floral Medley Hamper"></div><div class="pro-desc">
                                <div class="pro-name">Floral Medley Hamper</div><div class="price"> Rs. 1,049 <span class="list-price"> Rs. 1,249</span></div><span class="price-percentage" style="display:none;">
                                    16% OFF
                                </span>
                            </div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf last">
                        <a href="/jute-wrapped-beauties--9172">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" alt="Jute Wrapped Beauties " title="Jute Wrapped Beauties "></div><div class="pro-desc"><div class="pro-name">Jute Wrapped Beauties </div><div class="price"> Rs. 699</div></div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="seller-combo mb-4">
            <div class="main-heading d-flex justify-content-between">
                <h2 class="pri-heading">3d Mugs</h2>
                <a href=""><span class="view-all">View All</span></a>
            </div>
            <div class="product-inner">
                <ul>
                    <li class="leaf first">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/Chocolate/5I5B2817-350x350.jpg"
                                     alt="16 Pcs Ferrero Rocher"
                                     title="16 Pcs Ferrero Rocher">
                            </div>
                            <div class="pro-desc">
                                <div class="pro-name">16 Pcs Ferrero Rocher</div>
                                <div class="price"> Rs. 1,045</div>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text">Today.</span>
                            </div>
                        </a>
                    </li>
                    <li class="leaf">
                        <a href="">
                            <div class="pro-img">
                                <img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/05-05-2018/1568356801IMG_8080-350x350.jpg" alt="Chocolate Truffle Cake" title="Chocolate Truffle Cake">
                            </div><div class="pro-desc">
                                <div class="pro-name">Chocolate Truffle Cake</div><div class="price"> Rs. 599 <span class="list-price"> Rs. 699</span></div><span class="price-percentage" style="display:none;">
                                    14% OFF
                                </span>
                            </div>
                            <div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf ">
                        <a href="/floral-medley-hamper-8436">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/010/29-09-2018/1542094973_DSC1106-350x350.jpg" alt="Floral Medley Hamper" title="Floral Medley Hamper"></div><div class="pro-desc">
                                <div class="pro-name">Floral Medley Hamper</div><div class="price"> Rs. 1,049 <span class="list-price"> Rs. 1,249</span></div><span class="price-percentage" style="display:none;">
                                    16% OFF
                                </span>
                            </div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                    <li class="leaf last">
                        <a href="/jute-wrapped-beauties--9172">
                            <div class="pro-img"><img class="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/009/1557125390IMG_8823-350x350.jpg" alt="Jute Wrapped Beauties " title="Jute Wrapped Beauties "></div><div class="pro-desc"><div class="pro-name">Jute Wrapped Beauties </div><div class="price"> Rs. 699</div></div><div class="product-list-time">
                                Earliest Delivery:<span class="green-text"><span style="color:green">Today</span></span>.
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>


    </div>
</section>